<!-- Formulario -->
<h1 id="formulario" class="row titulos">
    <hr />Formulario
    <hr />
</h1>
<div id="formulario-home" class="row">
    <form id="formulario-registro" class="" action="enviar_datos.html" method="post">
        <h1>Ingrese sus datos</h1>
        <label for="nombre">Nombre Completo
            <span class="obligatorio"> * Campo obligatorio</span>
        </label>
        <input id="nombre" class="campos_texto" type="text" name="nombre" value="" placeholder="Ej: Elisa María Giraldo" required>
        <label for="clave">Contraseña
            <span class="obligatorio"> * Campo obligatorio</span>
        </label>
        <input id="clave" class="campos_texto" type="password" name="clave" value="" placeholder="Digite una clave segura" maxlength="15"
            required>
        <label for="email">Correo Electrónico
            <span class="obligatorio"> * Campo obligatorio</span>
        </label>
        <input id="email" class="campos_texto" type="email" name="email" value="" placeholder="Ej: egiraldo@correo.co" required>
        <label for="color">Género</label>
        <select id="color" class="" name="color">
            <option value="">Seleccione..</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select>
        <br>
        <hr>
        <p>Actividades que realiza</p>
        <input id="caminata" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="caminata">
            <span></span>Caminata</label>
        <input id="ciclismo" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="ciclismo">
            <span></span>Ciclismo</label>
        <input id="camping" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="camping">
            <span></span>Camping</label>
        <input id="escalada" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="escalada">
            <span></span>Escalada</label>
        <input id="atletismo" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="atletismo">
            <span></span>Atletísmo</label>
        <input id="gimnasta" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="gimnasta">
            <span></span>Gimnasta</label>
        <input id="motociclismo" type="checkbox" name="actividad" value="">
        <label class="checkbox-field" for="motociclismo">
            <span></span>Motociclismo</label>

        <p>Seleccione forma de pago</p>
        <input id="efectivo" type="radio" name="forma_pago" value="" checked>
        <label class="radio-field" for="efectivo">
            <span></span>Efectivo</label>
        <input id="debito" type="radio" name="forma_pago" value="">
        <label class="radio-field" for="debito">
            <span></span>Debito</label>
        <input id="credito" type="radio" name="forma_pago" value="">
        <label class="radio-field" for="credito">
            <span></span>Crédito</label>

        <hr>
        <label for="mensaje"></label>
        <textarea id="mensaje" name="mensaje" rows="10" cols="40" required></textarea>

        <input id="terminos" type="checkbox" name="terminos" value="">
        <label class="checkbox-field" for="terminos">
            <span></span>
            <a href="#">Acepto términos y condiciones</a>
        </label>

        <label id="mensaje-formulario"></label>
        <button id="btn-enviar" type="submit" name="button">Enviar</button>

    </form>
</div>