<!--The content below is only a placeholder and can be replaced.-->

<!-- Código del 'index.html' del proyecto: Recursos Interactivos -->
<section id="background-page"></section>

<div class="content-fluid">
    <!-- Encabezado de la página -->
    <header id="cabecera" class="row">
        <figure id="logotipo" class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
            <img src="assets/images/logotipo.png" alt="">
        </figure>
        <div class="col-lg-4 col-md-2 col-sm-1 col-xs-0">
            <br>
        </div>
        <!-- Icono menú hamburguesa -->
        <div id="btn-movil-menu" class="col-lg-0 col-md-0 col-sm-0 col-xs-12">
            <span class="fa fa-bars"></span>
        </div>
        <!-- Menú Principal -->
        <nav class="col-lg-6 col-md-7 col-sm-9 col-xs-0">
            <ul>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#cabecera">Inicio</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#galeria">Galería</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#efecto-mouse">Efecto mouse</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#efecto-scroll">Efecto scroll</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#formulario">Formulario</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#">Angular</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- header.row -->
    <slider></slider>
    <gallery></gallery>
    <mouse-effect></mouse-effect>
    <scroll-effect></scroll-effect>
    <form-terminos></form-terminos>

</div>