<!-- Scroll Effect -->
<h1 id="efecto-scroll" class="row titulos">
    <hr />Efecto con el scroll
    <hr />
</h1>
<div id="scroll-effect" class="row">
    <!-- Artículo 1 -->
    <article class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
        <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <figure class="col-lg-3 col-md-5 colsm-6 col-xs-12">
                <img src="assets/images/gallery/01.jpg" alt="">
            </figure>
            <div class="col-lg-9 col-md-7 col-sm-6 colxs-12">
                <h1>Nemo iusto facere modi</h1>
                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum.</p>
                <button type="button" name="button">Leer más</button>
            </div>
        </aside>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
    </article>
    <!-- Artículo 2 -->
    <article class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
        <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <figure class="col-lg-3 col-md-5 colsm-6 col-xs-12">
                <img src="assets/images/gallery/02.jpg" alt="">
            </figure>
            <div class="col-lg-9 col-md-7 col-sm-6 colxs-12">
                <h1>Mollit anim id est laborum</h1>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button type="button" name="button">Leer más</button>
            </div>
        </aside>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
    </article>
    <!-- Artículo 3 -->
    <article class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
        <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <figure class="col-lg-3 col-md-5 colsm-6 col-xs-12">
                <img src="assets/images/gallery/03.jpg" alt="">
            </figure>
            <div class="col-lg-9 col-md-7 col-sm-6 colxs-12">
                <h1>Consectetur adipisicing elit</h1>
                <p>Numquam at quod cum obcaecati esse nulla officiis officia dolorem doloremque adipisci earum quasi quia ratione
                    consectetur ducimus aut, nobis asperiores. Dolor.</p>
                <button type="button" name="button">Leer más</button>
            </div>
        </aside>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
    </article>
    <!-- Artículo 4 -->
    <article class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
        <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <figure class="col-lg-3 col-md-5 colsm-6 col-xs-12">
                <img src="assets/images/gallery/04.jpg" alt="">
            </figure>
            <div class="col-lg-9 col-md-7 col-sm-6 colxs-12">
                <h1>Eiusmod tempor incididunt</h1>
                <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>
                <button type="button" name="button">Leer más</button>
            </div>
        </aside>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">&nbsp;</div>
    </article>
</div>