<!-- Slideshow -->
<div id="slider" *ngIf="slideJson">
    <ul>
        <li *ngFor="let slide of slideJson">
            <img src="{{ slide .imagen }}" alt="">
            <div class="content-slide">
                <h1>{{ slide .titulo }}</h1>
                <h3>{{ slide .descripcion }}</h3>
            </div>
        </li>
    </ul>

    <!-- Paginador del Slider -->
    <ol id="pager">
        <li *ngFor="let slide of slideJson; let i = index;" value="{{ i + 1 }}">
            <span class="fa fa-circle"></span>
        </li>
    </ol>
    <!-- .pager -->

    <!-- Manejador del Slider -->
    <div id="control-slider">
        <div id="back-arrow" class="arrows">
            <span class="fa fa-chevron-left"></span>
        </div>
        <div id="forward-arrow" class="arrows arrow-right">
            <span class="fa fa-chevron-right"></span>
        </div>
    </div>
    <!-- .control-slider -->
</div>
<span *ngIf="!slideJson" class="cargando">Slider Cargando...</span>
<!-- .slider -->